<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Hello ! </h2>
  <p>We're glad to have you on our blog site. </p>
  <p>Blog Name</p>
  <h4>{{title}}</h4>
  <h4>{{descriptions}}</h4>
  <h5>By{{auther}}</h5>
</body>
</html>
